.userProfileContainer {
  border-radius: 8px;
  border: 1px solid rgba(243, 243, 243, 1);
  margin: 0 41px 10px 34px;
  padding: 20px 6px 19px 12px;

  p {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    margin-bottom: 3px;
  }
}

.userProfileTitle {

  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin: 19px 0 17px 34px;
}

.userInput {
  font-size: 10px;
  width: 211px;
  height: 22px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 10px;
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 5px;
  padding: 0 0 0 10px;

}

.userErrorInput {
  border-color: rgba(217, 19, 19, 1);
}

.userInputNoActive {
  color: rgba(0, 0, 0, 0.3)
}

.userInputActive {
  color: rgba(0, 0, 0, 1)
}

.userCommentNoActive {
  color: rgba(0, 0, 0, 0.3)
}

.userCommentNActive {
  color: rgba(0, 0, 0, 1)
}

.userCommentsInput {
  height: 55px;
  width: 420px;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  line-height: 12px;
  font-size: 10px;
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.buttonActive {
  width: fit-content;
  background-color: rgba(75, 81, 239, 1);
  border-radius: 5px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  padding: 6px 15px 5px 15px;
  cursor: pointer;

  p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 14px;
  }
}

.profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 41px;
}

.buttomButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 41px 20px 34px;
}

.buttomButton {
  width: 85px;
  border-radius: 5px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  padding: 6px 15px 5px 15px;
  border-width: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  padding: 0;
}

.activeButton {
  background-color: rgba(82, 207, 79, 1);
}

.noActiveButton {
  background-color: rgba(175, 175, 175, 1);
}